.log{
    display:flex;
    justify-content: center;
    border:1px solid gainsboro;

    
    border-radius: 1px;
    height: 400px;
    box-shadow: 1px 7px 16px #938f8f;
    background-color: white;
    /* background-image:url(../images/logo.png); */
    padding: 50px;



}
.log h1 {
    display: flex;
    justify-content: center;
    color: teal;
}


    
        
.log1 {
    text-align: justify;
    width: 500px;
    border-radius: 9px;
    height: 385px;
    box-shadow: 1px 7px 16px #938f8f;
    background-color: lightsteelblue;
    
}

.log1 label {
    font-style: italic;
    color: teal;
    font-weight: bolder;
}
.log1 input {
    height: 30px;
    width: 415px;
    background-color:rgb(152, 147, 152);
    border-radius: 8px;
    margin-left: 40px;
    cursor:not-allowed;

}
.log1 button {
    display: flex;
    justify-content: center;
    color: gainsboro;
    margin: auto;
    background-color: teal;
    height: 30px;
    width: 415px;
    border-radius: 8px;
    font-size: larger;
}

.log1 p{
    display: flex;
    justify-content: center;
    margin:auto;
    font-size: larger;
}
.log1 strong{
    color: teal;
}

