
::selection {
  background-color: green;
  color: white;

}
.rishav {
  display: flex;
  justify-content: space-around;

}
.abhishek{
  display: flex;
  justify-content: end;
}
.abhishek0{
  display: flex;
  
}
.abhishek1 img{

  height: 649px;
  width: 100%;
}
.abhishek2 {
 
  justify-content: space-between;
  list-style-type: none;
  margin: 10% 30px;
  padding: 0%;
  background:#f6ecec;
  width: 70%
   
}
.abhishek3 {
  margin: -15px 130px 0px 138px;
  background-color: ghostwhite;
  border-radius: 10px;
  height: 83px;
  position: relative;
  z-index: 1;
  box-shadow: 11px 20px 318px -12px;
  text-align: justify;

}

.abhishek1 {
  margin-top: -45px;
  overflow: hidden;
  position: relative;
}
.text{
  
  color:aqua;
  
}

.abhishek3 ul li{
display: inline-block;
margin: 25px 0px 0px 20px; 
}
.abhishek3 ul li a{
  text-decoration: none;
  color:black;
}
.abhishek3 ul li a:hover{
  background-color: teal;
  color: white;
}
.ul a{
  justify-content: space-between;
  display: inline-block;
}

.abhishek3 ul li {
  display: inline-block;
  margin: -23px 23px 0px 24px;
}

.abhishek3 button {
  height: 45px;
  border-radius: 10px;
  margin-top: 21px;
}
.abhishek4 {
  background: #ffff;
  width: 70%;
  margin: 30px auto;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}

.abhishek4 {
  position: relative;
  margin-top: -200px;
  overflow: hidden;

}
.abhishek4 form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.abhishek4 form input{
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}
.abhishek4 form button{
  background: green;
  width: 125px;
  height: 60px;
  border-radius: 50px;
  border: 0;
  outline:none;
  cursor: pointer;
}

.abhishek5{
  text-align: center;
  margin: 100px;
  font-weight: 500px;
}
.abhishek6 {
  display: flex;
  gap: 35px;
  justify-content: center;

}

.abhishek6 img{


  width: 150px;
  background-color: gainsboro;
}
.abhishek7{
  display: flex;
  gap: 100px;
  justify-content: center;
}

.abhishek8{

  display: flex;
  gap: 100px;
  justify-content: center;
}


  .abhishek8 {
    position: static;
    margin-top: -45px;
    overflow: hidden;
    z-index: 1;
}


.abhishek8 {
  grid-gap: 130px;
  display: flex;
  border-radius: 2px;
  background-color: #ffff;
}


.star {
  width: 260px;
  border-radius: 5px;
  height: 261px;
  box-shadow: 1px 7px 16px #938f8f;
  background-color: white;
}
    

.abhishek8 button {
  background: #d43f1d;
  margin-block: 25px;
  margin-left: 12px;
  width: 233px;
  height: 48px;
  border-radius: 7px;
  border: 0;
  outline: none;
  cursor: pointer;
  color: wheat;
}
.abhishek8 hr{
  width: 210px;
}

.abhishek11 {
width: 100%;
}

.abhishek11-box {
  font-family: '-webkit-body';
  text-align: center;
  font-size: larger;
}

.abhishek11-box hr{
  width: 480px;
}

.abhishek11-box {
  display: flow;
  width: 502px;
  border-radius: 1px;
  height: 457px;
  /* box-shadow: 1px 7px 16px #938f8f; */
  background-color: white;
  padding: 20px;
  margin-left: 112px;

}
.abhishek11-box {
  position: relative;
  margin-top: -555px;
  overflow: visible;
  z-index: 1;
}

  .abhishek11-box u{

color:green;

  }



.abhishek12 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: lightgray;
  grid-gap: 50px;
  padding: 80px;
  height: 211px;
}


  .abhishek12 hr {
    color: green;
    width: 239px;
    margin-right: 196px;
}

.abhishek13 {
  text-align: center;
}

.abhishek13 u{
  color: green

}

.abhishek14{
  display: flex;
  justify-content: space-between;
}

.abhishek14 img{
  max-width: 100%;
  width: auto;
}
 .abhishek15 {
 
  text-align: center;


 }
 .abhishek15 h4{
  color: green;
 }

 .abhishek16 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 80px;
  grid-gap: 160px;
}

 .star1 {
  width: 722px;
  border-radius: 5px;
  height: 261px;
  box-shadow: 1px 7px 16px #938f8f;
  background-color: white;
}


.abhishek17{
  width: 722px;
  border-radius: 5px;
  height: 261px;
  box-shadow: 1px 7px 16px #938f8f;
  background-color: white;
}

.star2{
 color: yellow;
}

.abhishek18{
  text-align: center;
}

.abhishek18 u{
  color: green;
}

.abhishek19 {
  grid-gap: 60px;
  display: flex;
  justify-content: center;

}

.abhishek199{
  width: 390px;
  border-radius: 3px;
  height: 570px;
  box-shadow: 1px 7px 16px #938f8f;
  background-color: white;
}

.abhishek19 u{
  color: white;
  background-color:green;
}

.box-19{
    padding: 15px;
    /* border: 2px solid gray; */
    height: 120px;
    width: 355px;
}
.box-19 p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-19 button{
  background-color: rgb(25, 125, 178);
word-wrap: 10px;
}
  
.box-20{
  padding: 15px;
  /* border: 2px solid gray; */
  height: 120px;
  width: 355px;
}
.box-20 p{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.box-20 button{
background-color: rgb(25, 125, 178);
word-wrap: 10px;
}
.box-21{
  padding: 15px;
  /* border: 2px solid gray; */
  height: 120px;
  width: 355px;
}
.box-21 p{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.box-21 button{
background-color: rgb(25, 125, 178);
word-wrap: 10px;
}


  .abhishek20 {
    width: 390px;
    border-radius: 3px;
    height: 570px;
    box-shadow: 1px 7px 16px #938f8f;
    background-color: white;
}


.abhishek21 {
  width: 390px;
    border-radius: 3px;
    height: 570px;
    box-shadow: 1px 7px 16px #938f8f;
    background-color: white;
}

.abhishek22 img {
  width: 100%;

}
.abhishek23 {
  display: flex;
  width: 400px;
  border-radius: 1px;
  height: 350px;
  box-shadow: 1px 7px 16px #938f8f;
  background-color: white;
  margin-left: 873px;
  padding: 50px;

}

.abhishek23 {
  position: relative;
  margin-top: -500px;
  overflow: visible;
  z-index: 1;

}
.abhishek23 span input {
  height: 30px;
  width: 343px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 1px 7px 16px #938f8f;
}

.abhishek23 button {
  height: 50px;
  width: 404px;
  color: white;
  background-color: green;
  border-radius: 4px;
  box-shadow: 1px 7px 16px #938f8f;
}
  .abhishek2223 input{
    border: none;
  }

.abhishek24{
  text-align: center;
}

.abhishek24 u{
  color: green;
}

.abhishek25 {
    background-color: black;
    color: wheat;
    
    

}

.abhishek125 {
  display: flex;
  justify-content: center;
}

.abhishek126{
  display: flex;
  justify-content: center;
}

.abhishek26 ul {
  display: flex;
  justify-content: center;
  grid-gap: 50px;
  list-style-type: none;
}
.abhishek27 p {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-left: 500px;
  width: 38%;
  font-size: x-large;
  text-align: -webkit-center;

}


.abhishek28 ul {
  display: flex;
  justify-content: center;
  grid-gap: 90px;
  list-style-type: none;
  
  
}
.abhishek28 ul li a{
  text-decoration: none;
  color:teal
  ;
}
.abhishek28 ul li a:hover{
  background-color: rgb(187, 255, 0);
  color: black;
}
 .abhishek28 ul a{
  justify-content: space-between;
  display: inline-block;
}

.abhishek29 {
  display: flex;
  justify-content: center;
  grid-gap: 170px;
}
/* special attractions */
.abhishek50{
 
  padding: 40px;
}

.rk50-1{
  text-align: center;
}
.rk50-1 h3{
  font-size:x-large;
}

.abhishek51{
  display: flex;
  justify-content: center; 
}
.abhishek51 img{
  width: 100%;
}

.pools {
  display: grid;
  margin: 0px 30px -30px 30px;
}
  


/* destination page */

.rishi30 img {
  width: 100%;
}

.rishi30 img{
  margin-top: -45px;
  overflow: hidden;
  position: relative;

}

.rishi31 {
  justify-content: center;
  display: flex;
  height: 45px;
  margin: 10px;
  width: 100%;
}


.rishi31 input {

    width: 75%;
    padding: 15px;
    background-color: #cabfbf;
    

}

.rishi31 button {
  width: 15%;
  background-color: rgb(39 157 56);
  
}
.test-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.test-cont-2 {
  border: 1px solid red;
  padding: 70px;
  border-radius: 16px;
}

.test-cont-2 input {
  padding: 10px;
  border-radius: 5px;
  border-color: aliceblue;
}

.test-cont-2 button {
  width: 100%;
  height: 36px;
  border-radius: 6px;
  background: chartreuse;
  border-color: aqua;
  color: white;
  font-size: 20px;
}

/*----------------------blogs-------------------*/

.blog {
  text-align: center;
}

/* -------------resposibe in phone--------------- */
@media only screen and (max-width: 600px){
.rishav{
  display: block;
  text-align: center;
  

}
.abhishek {
  display: block;
  
}
.abhishek0 {
  display: block;
}

.abhishek1 img{
  height:100%;
  width:100%;
}
.abhishek3 {
  margin: 0px;
  padding: 0px;
  height: auto;
  background-color: #938f8f;

}

.abhishek3 ul button li{
  
  
  width: 100%;
  
  
}
.abhishek3  button{
  height: auto;
  margin: 0px;
  ;
}
.abhishek3  li{
  display: block;

}




  .abhishek6
 {
  display: block;
}

.abhishek7 {
  display: flex;
  flex-wrap: wrap;
}
.abhishek12{
  display: block;
}
.abhishek19 {
  
   display: block;
  
}
.abhishek23{
  margin-top:0px;
  margin-left:0px;
  width: 200px;
}
.abhishek2223 span input{
  width: 190px;

}

.abhishek23 button {
  height: 35px;
  width: 200px;
}



.abhishek8{
  display: block;
  margin-top: 20px;
}

.abhishek126{
  display:block;
  width: 151px;
  padding-left: 100px;
}

.abhishek27 p{
  display: block;
  width: 350px;
  padding:0px;
}
.abhishek28 ul {
  display:block;
  width: 270px;
  text-align: center;
  

}
.abhishek29{
  display:block;
  text-align: center;
  height: 300px;
}
}
